@use "../../styles/style.scss" as *;

.youtube-player-wrapper {
  @include flexible();
  position: relative;
  overflow: hidden;
  width: 80%;
  min-height: 500px;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 400px){
  .youtube-player-wrapper {
    min-height: 175px;
  }
}