@use "../../styles/style.scss" as *;

.main {
  width: 100%;

  // СЕКЦИЯ ПАСТЫ
  &__pasta-container {
    width: 100%;
    min-height: 300px;
    border: 1px solid $color1;
    border-radius: $standartborder;
    color: $white;
    margin-bottom: 20px;
  }
  &__pasta-text {
    @include textReset();
    padding: 15px 20px;
  }

  // СЕКЦИЯ БУДУЩИХ ПЕРСОВ
  &__h2 {
    color: $white;
    text-align: center;
    margin-bottom: 20px;
  }

  &__list {
    @include listReset();
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    margin-bottom: 40px;
  }

  &__item {
    @include standartTransition();
    @media (hover) {
      &:hover {
        transform: scale(1.02);
      }
    }
    &:focus,
    &:active {
      transform: scale(1.03);
      z-index: 2;
    }
    a {
      @include standartTransition();
      display: block;
      height: 100%;
      outline: none;
      &:focus,
      &:active {
        transform: scale(1.01);
        z-index: 2;
      }
    }
  }
}
