@use "../../styles/style.scss" as *;

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}

.main {
  width: 100%;

  &__content {
    @include flexible();
    flex-direction: column;
    padding: 0 10px;
  }
  // СЕКЦИЯ БУДУЩИХ ПЕРСОВ
  &__h2 {
    color: $white;
    text-align: center;
    margin-bottom: 20px;
  }

  &__list {
    @include listReset();
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    margin-bottom: 40px;
  }

  &__item {
    @include standartTransition();
    @media (hover) {
      &:hover {
        transform: scale(1.02);
      }
    }
    &:focus,
    &:active {
      transform: scale(1.03);
      z-index: 2;
    }
    a {
      @include standartTransition();
      display: block;
      height: 100%;
      outline: none;
      &:focus,
      &:active {
        transform: scale(1.01);
        z-index: 2;
      }
    }
  }
}

// СЕКЦИЯ ПАСТЫ
.pasta {
  margin-bottom: 15px;
  &__container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__content {
    max-width: 740px;
    border: 1px solid $color2;
    border-radius: 25px;
    color: $white;
    background-color: $color1;
    padding: 44px 15px;
  }
  &__text {
    @include textReset();
    @include textType1();
    user-select: none;
  }
}

// СЕКЦИЯ ССЫЛОК
.links {
  margin-bottom: 54px;
  z-index: 2;
  &__list {
    @include listReset();
    @include flexible();
    gap: 40px;
  }
  &__item {
    @include standartTransition();
    background-color: $color1;
    border: 1px solid $color2;
    border-radius: 7px;
    color: $white;
    min-width: 183px;
    text-align: center;

    @media (hover) {
      &:hover {
        transform: scale(1.02);
      }
    }
    &:focus,
    &:active {
      transform: scale(1.03);
      z-index: 2;
    }

    a {
      @include textType1();
      display: block;
      padding: 3px 18px;
      outline: none;
      user-select: none;
    }
  }
}

// СЕКЦИЯ ЧИБИ
.chibi {
  margin-bottom: 20px;
  .container {
    display: flex;
    justify-content: center;
  }
  &__content {
    @include flexible();
    flex-direction: column;
    position: relative;
    width: 100%;
  }
  &__btn {
    @include btnReset();
    animation: pulse 1.5s infinite;
  }

  &__cloud-container {
    @include standartTransition();
    position: absolute;
    top: -13%;
    left: -49%;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    user-select: none;
    transform: rotate(-5deg);
    transition:
      opacity 0.3s ease,
      visibility 0.3s ease;
    &.visible {
      opacity: 1;
      visibility: visible;
    }
  }

  &__cloud-img {
    z-index: 0;
  }
  &__cloud-text {
    @include textReset();
    position: absolute;
    max-width: 310px;
    top: 45%;
    left: 50%;
    transform: rotate(-8deg) translate(-50%, -50%);
    font-family: fascinate;
    font-size: 30px;
    font-weight: 900;
    z-index: 1;
    text-align: center;
    line-height: 24px;
  }

  &__hint {
    position: absolute;
    left: 4%;
    top: 20%;
    filter: invert(1);

    opacity: 1;
    visibility: visible;
    transition:
      opacity 0.3s ease,
      visibility 0.3s ease;
  }
  &__hint-text {
    @include textReset();
    font-weight: 900;
    font-size: 40px;
  }
}

@media (max-width: 1480px) {
  .chibi {
    .container {
      display: flex;
      justify-content: flex-end;
    }
    &__content {
      width: 50%;
    }
    &__cloud-container {
      top: -27%;
      left: -118%;
    }
  }
}

@media (max-width: 752px) {
  .links__list {
    flex-wrap: wrap;
    gap: 10px;
  }
}

@media (max-width: 650px) {
  .chibi__cloud-container {
    width: 120%;
    top: -12%;
    left: -97%;
  }
  .chibi__cloud-text {
    font-size: 1em;
  }
  .chibi__hint {
    left: -21%;
    top: -2%;
  }
}

@media (max-width: 470px) {
  .main {
    font-size: 10px;
  }
  .pasta__content{
    padding: 15px;
  }
  .links__item a{
    padding: 3px;
  }
  .links__item{
    min-width: 130px;
  }
}

@media (max-width: 570px) {
  .chibi__cloud-text{
    font-size: 10px;
    line-height: 10px;
  }
}

@media (max-width: 370px) {
  .chibi__cloud-text{
    font-size: 8px;
    line-height: 8px;
  }
}