@use "../../styles/style.scss" as *;

.resonators {
  font-family: "bebas", sans-serif;
  color: $white;
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 0.5px;
  text-align: center;

  &__h2 {
    color: $white;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
  }

  &__list {
    @include listReset();
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 20px;
    margin-bottom: 40px;
    h3 {
      font-size: 1.5em;
    }
    span {
      font-size: 1em;
    }
  }

  &__item {
    @include standartTransition();
    @media (hover) {
      &:hover {
        transform: scale(1.02);
      }
    }
    &:focus,
    &:active {
      transform: scale(1.03);
      z-index: 2;
    }
    a {
      @include standartTransition();
      display: block;
      height: 100%;
      outline: none;
      &:focus,
      &:active {
        transform: scale(1.01);
        z-index: 2;
      }
    }
  }

  // ПОИСК
  &__search-container {
    padding: 0px 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    position: relative;
  }

  &__search {
    background: $white;
    border-radius: 28px;
    padding: 15px;
    outline: none;
    &::placeholder {
      text-align: center;
      font-weight: 400;
      font-size: 19px;
    }
    &:focus {
      &::placeholder {
        opacity: 0;
      }
    }
  }
  &__search-lupa {
    position: absolute;
    transform: translate(245%, 32%);
    width: 29px;
  }

  // ФИЛЬТР ЭЛЕМЕНТОВ
  &__elements-btn {
    @include btnReset();
  }
  &__elements-img {
    width: 76px;
  }
  &__elements-list {
    @include flexible();
    @include listReset();
    gap: 17px;
    margin-bottom: 30px;
  }
  &__elements-btn_reset {
    @include btnReset();
    width: 76px;
    height: 76px;
    background-color: $white;
    font-family: "bebas", sans-serif;
    font-weight: 400;
    font-size: 0.5em;
    letter-spacing: 0.5px;
    text-align: center;
    border-radius: 50%;
    border: 8px solid red;
  }
}
