@use "../../styles/style.scss" as *;

.resonator {
  color: $white;

  &__container {
    @include flexible();
    flex-direction: column;
  }

  &__common-container {
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
  }

  &__h2 {
    @include textReset();
    @include textType4();
    @include backgroundGradient();
    line-height: 1;
    margin-bottom: 10px;
    width: 90%;
    border-radius: 5px;
    padding: 5px;
  }

  // кнопка наверх
  &__up {
    @include textType2();
    position: fixed;
    top: 3%;
    right: 3%;
    padding: 10px;
    background: $color2;
    border-radius: 15px;
    cursor: pointer;
  }
}

.name {
  @include flexible();
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  width: 100%;

  &__preview-img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: top;
    border-radius: 50px;
  }
}

.contents {
  @include flexible();
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
  .accordion {
    width: 100%;
  }
  .accordion__content {
    width: fit-content;
  }
  .accordion__button {
    @include textReset();
    @include textType2();
    line-height: 1;
    margin-bottom: 10px;
    background: none;
    border-bottom: 1px solid $white;
    border-radius: 5px;
    padding: 5px;
  }
  .accordion__inner {
    @include textType1();
    @include flexible();
    padding: 5px;
    border: 1px solid $white;
    width: 100%;
  }
  &__grid {
    @include flexible();
    align-items: flex-start;
    width: 90%;
    gap: 25px;
  }
  &__column {
    @include listReset();
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &__item {
    @include textType2();
    @include flexible();
    justify-content: flex-start;
    font-weight: 400;
    gap: 10px;
  }
  &__link {
    @include btnReset();
    @include standartTransition();
    color: $white;
    text-align: left;
    font-size: inherit;
    border-bottom: 1px solid rgb(0, 0, 0, 0);
    &:hover {
      border-bottom: 1px solid $color2;
    }
  }
}

.pasta {
  @include flexible();
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
  &__h2 {
    margin-bottom: 10px;
  }
  &__descr {
    @include textType2();
  }
}

.plusminus {
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 90%;
  }
  &__h2 {
    @include textReset();
    @include textType4();
    @include backgroundGradient();
    line-height: 1;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
  }
  &__plus,
  &__minus {
    @include flexible();
    flex-direction: column;
    justify-content: flex-start;
  }
  &__list {
    @include listReset();
    @include textType2();
    @include flexible();
    flex-direction: column;
    gap: 5px;
    row-gap: 15px;
    width: 100%;
  }

  &__plus-list {
    color: $color6;
  }

  &__minus-list {
    color: $color7;
  }
}

.utility {
  &__img {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
  }
  &__h3 {
    @include textType2();
    text-decoration: underline;
    margin-top: 30px;
    margin-bottom: 10px;
  }
}

.miniguide {
  @include flexible();
  flex-direction: column;
  img {
    width: 100%;
  }
}

.ytguide {
  @include flexible();
  width: 100%;
  flex-direction: column;
  &__error {
    position: relative;
    width: 80%;
    user-select: none;
  }
  &__error-img {
    border-radius: 30px;
    filter: blur(10px);
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
  }
  &__error-message {
    @include textType3();
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-30deg);
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 30px;
    box-shadow: 0 0 30px 10px $color2;
    user-select: none;
  }
}

.weapon {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__list {
    @include listReset();
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__item {
    position: relative;
  }
  &__item-damage {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 25%;
  }

  &__descr-container {
    @include flexible();
    flex-direction: column;
    max-width: 840px;
    p {
      @include textReset();
      @include textType2();
      font-weight: 400;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}

.constellation {
  &__descr {
    @include flexible();
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
    img {
      width: 100%;
      margin-bottom: 10px;
    }
    p {
      @include textType2();
      width: 100%;
      margin-bottom: 10px;
      text-align: start;
    }
  }
  &__h3 {
    @include textReset();
    @include textType3();
    margin-bottom: 20px;
    text-decoration: underline;
  }
}

.investments {
  @include flexible();
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  h2 {
    margin-bottom: 10px;
  }
  img {
    margin-bottom: 10px;
  }
  &__descr {
    @include textReset();
    @include textType2();
    font-weight: 400;
    margin-bottom: 20px;
    max-width: 740px;
  }
}

.team {
  &__list {
    @include listReset();
    @include flexible();
    flex-direction: column;
    gap: 20px;
  }
  &__img {
    margin-bottom: 20px;
  }
  &__item {
    @include flexible();
    flex-direction: column;
    img {
      border-radius: 20px;
    }
  }
  &__accordion-list {
    @include listReset();
  }
  &__accordion-item {
    @include textReset();
    @include textType1();
    h3 {
      @include textReset();
      @include textType15();
      @include textBold();
      text-decoration: underline;
    }
    p {
      @include textReset();
      @include textType1();
    }
  }
}

.review {
  &__descr {
    @include textReset();
    @include textType2();
  }
  &__list {
    @include listReset();
  }
  &__img {
    width: 100%;
  }
}

.glossary {
  margin-bottom: 20px;
  width: 100%;
  .accordion {
    width: 100%;
  }
  .accordion__button {
    border-radius: 5px;
  }
}

@media (max-width: 700px) {
  .name {
    &__preview-img {
      width: 80%;
    }
  }
}

@media (max-width: 560px) {
  .resonator {
    &__h2 {
      @include textType15();
      @include textBold();
      font-weight: 400;
      line-height: 1;
      margin-bottom: 10px;
    }
    &__up {
      @include textType1();
      padding: 4px 6px;
    }
    &__common-container {
      margin-bottom: 20px;
    }
  }
  .name {
    &__h2 {
      @include textType15();
    }
    &__preview-img {
      width: 100%;
      height: 300px;
    }
  }
  .pasta {
    &__descr {
      @include textType08();
    }
  }
  .contents {
    .accordion__button {
      @include textType1();
      margin-bottom: 10px;
    }
    &__item {
      @include textType08();
      img {
        width: 15px;
      }
    }
  }
  .plusminus {
    &__h2 {
      @include textType1();
      @include textBold();
      padding: 5px;
    }
    &__container {
      gap: 20px;
    }
    &__list {
      @include textType08();
      max-width: 200px;
    }
    &__plus-list {
      color: $color6;
    }

    &__minus-list {
      color: $color7;
    }
  }
  .utility {
    &__img {
      max-height: 200px;
    }
    &__h3 {
      @include textType1();
      margin-bottom: 10px;
    }
  }
  .weapon {
    &__descr-container {
      p {
        @include textType08();
        &:not(:last-child) {
          margin-bottom: 6px;
        }
      }
    }
  }
  .constellation {
    &__descr {
      p {
        @include textType08();
      }
    }
    &__h3 {
      @include textType15();
    }
  }
  .investments {
    &__descr {
      @include textType08();
    }
  }
  .team {
    &__accordion-item {
      @include textType05();
      h3 {
        @include textType05();
        @include textBold();
        text-decoration: underline;
      }
      p {
        @include textType05();
      }
    }
  }
  .review {
    &__descr {
      @include textType08();
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 296px) {
  .resonator {
    &__h2 {
      @include textType1();
      @include textBold();
      font-weight: 400;
      line-height: 1;
      padding: 5px;
      margin-bottom: 10px;
    }
    &__up {
      @include textType05();
      padding: 4px 6px;
    }
    &__common-container {
      margin-bottom: 10px;
    }
  }
  .name {
    &__h2 {
      @include textType1();
      padding: 5px;
    }
    &__preview-img {
      height: 200px;
    }
  }
  .pasta {
    &__descr {
      @include textType05();
    }
  }
  .contents {
    &__h2 {
      @include textType1();
      margin-bottom: 10px;
    }
    &__item {
      @include textType05();
      img {
        width: 8px;
      }
    }
  }
  .plusminus {
    &__container {
      gap: 5px;
    }
    &__h2 {
      @include textType08();
      @include textBold();
      padding: 5px;
    }
    &__list {
      @include textType05();
      max-width: 100px;
      gap: 5px;
    }
  }
  .utility {
    &__img {
      max-height: 100px;
    }
    &__h3 {
      @include textType08();
      margin-bottom: 10px;
    }
  }
  .weapon {
    &__list {
      gap: 5px;
    }
    &__descr-container {
      p {
        @include textType05();
        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }
    }
  }
  .constellation {
    &__descr {
      p {
        @include textType05();
      }
    }
    &__h3 {
      @include textType1();
    }
  }
  .investments {
    &__descr {
      @include textType05();
    }
  }
  .team {
    &__accordion-item {
      h3 {
        @include textType03();
        @include textBold();
        text-decoration: underline;
      }
      p {
        @include textType03();
      }
    }
  }
  .review {
    &__descr {
      @include textType05();
      margin-bottom: 5px;
    }
  }
}
