@use "../../styles/style.scss" as *;

.resonator {
  color: $white;

  // общие
  &__container {
    @include flexible();
    flex-direction: column;
  }

  &__common-container {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__common-preview {
    max-width: 680px;
    margin-bottom: 20px;
  }

  &__name {
    @include textReset();
    font-weight: 400;
    font-size: 96px;
    letter-spacing: 0.5px;
    overflow: hidden;
  }
  &__role {
    font-weight: 400;
    font-size: 40px;
    letter-spacing: 0.5px;
    text-align: center;
    margin-bottom: 24px;
  }
  // preview
  &__contents-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  &__contents-h2 {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 45px;
    letter-spacing: 0.5px;
    text-align: center;
  }

  &__contents-list {
    @include listReset();
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  &__contents-item {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 0.5px;
  }
  &__h2-container {
    margin-bottom: 15px;
    position: relative;
    width: 100%;
    height: auto;
    display: inline-block;
    line-height: 1;
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: auto;
      z-index: -1;
    }
  }

  &__h2 {
    @include textReset();
    font-weight: 400;
    font-size: 128px;
    letter-spacing: 0.5px;
    text-align: center;
    line-height: 1;
  }
  // ютуб ролик
  &__ytguide {
    @include flexible();
    width: 100%;
    flex-direction: column;
    iframe {
      overflow: hidden;
    }
  }

  // мини-гайд
  &__miniguide {
    @include flexible();
    flex-direction: column;
    img {
      width: 100%;
    }
  }

  //   база
  &__base-descr {
    @include textReset();
    font-weight: 400;
    font-size: 36px;
    letter-spacing: 0.5px;
    text-align: center;
    &:nth-child(3) {
      margin-bottom: 15px;
    }
  }
  &__h3 {
    @include textReset();
    font-weight: 400;
    font-size: 36px;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
  }

  &__plusminus-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    font-weight: 400;
    font-size: 36px;
    letter-spacing: 0.5px;
  }

  &__plusminus-list {
    @include listReset();
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__plus-list {
    color: $color6;
  }

  &__minus-list {
    color: $color7;
  }

  // утилити
  &__utility-img {
    width: 100%;
  }

  // прокачка
  &__pumping-img {
    width: 100%;
  }

  // оружие
  &__weapon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  &__weapon-list {
    @include listReset();
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__weapon-descr-container {
    max-width: 840px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    p {
      @include textReset();
      font-weight: 400;
      font-size: 36px;
      letter-spacing: 0.5px;
      text-align: center;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  // созвездия
  &__constellation-descr {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    p {
      @include textReset();
      font-weight: 400;
      font-size: 36px;
      letter-spacing: 0.5px;
      text-align: center;
      margin-bottom: 20px;
      max-width: 740px;
    }
    img {
      &:not(:last-child) {
        margin-bottom: 60px;
      }
    }
  }

  // команды
  &__team-list {
    @include listReset();
    @include flexible();
    flex-direction: column;
    gap: 20px;
  }
  &__team-img {
    margin-bottom: 20px;
  }
  &__team-item {
    @include flexible();
    flex-direction: column;
    img {
      border-radius: 20px;
    }
  }

  // кнопка наверх
  &__up {
    @include textType1();
    position: fixed;
    top: 3%;
    right: 3%;
    padding: 10px;
    background: $color2;
    border-radius: 15px;
  }
}

@media (max-width: 1172px) {
  .resonator__contents-container {
    grid-template-columns: 1fr;
  }
  .resonator__preview-img {
    display: none;
  }
  .resonator__contents-listcontainer {
    @include flexible();
    flex-direction: column;
  }
  .resonator__contents-list {
    height: 200px;
    flex-wrap: wrap;
    column-gap: 50px;
  }
  .youtube-player-wrapper {
    width: 100%;
    iframe {
      width: 100%;
    }
  }
}

@media (max-width: 800px) {
  .resonator {
    p {
      font-size: 28px;
    }
    ul li {
      font-size: 1em;
    }
    &__common-container {
      width: 95%;
    }
  }
  .resonator__contents-list {
    height: fit-content;
  }
  .youtube-player-wrapper {
    @include flexible();
    iframe {
      width: 500px;
      height: 300px;
    }
  }
  .resonator__common-preview {
    max-width: 100%;
  }
  .resonator__h2 {
    font-size: 72px;
  }
}
