@use "../../styles/style.scss" as *;

.greeting {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 20px;
  row-gap: 10px;
  margin-bottom: 20px;
  &__block {
    padding: 20px;
    background-color: $color1;
    border-radius: 12px;
  }
}

.preview-block {
  position: relative;
  &__img {
    border-radius: 15px;
  }
  &__descr {
    @include textType1();
    color: $white;
    margin-bottom: 10px;
  }
  &__list {
    @include listReset();
    @include flexible();
    gap: 10px;
  }
  &__link {
    @include flexible();
    width: 100%;

    svg {
      width: 30px;
      height: 30px;
    }
  }
}

.nav-block {
  @include flexible();
  flex-direction: column;
  justify-content: flex-start;
  &__h2 {
    @include textType15();
    font-weight: 400;
    border-bottom: 1px solid $color2;
    margin-bottom: 15px;
  }
  &__list {
    @include listReset();
    @include flexible();
    flex-direction: column;
    gap: 5px;
    width: 100%;
  }
  &__item {
    width: 100%;
    border-radius: 5px;
  }
  &__link {
    @include textType1();
    @include standartTransition();
    @include backgroundGradient();
    display: block;
    width: 100%;
    padding: 5px;
    color: $white;
    border-radius: 5px;
    text-align: start;
    &:hover,
    &:focus {
      filter: contrast(1.2);
    }
    &:active {
      filter: contrast(0.85);
    }
  }
}

.banners-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__timer-container {
    @include flexible();
    gap: 20px;
  }
  &__h3 {
    @include textType1();
    font-family: "bebas";
    font-weight: 400;
    text-align: center;

    color: $white;
    margin-bottom: 10px;
  }
  &__banners {
    @include listReset();
    @include flexible();
    flex-wrap: wrap;
    gap: 12px;
  }

  &__item {
    max-width: 430px;
    img {
      border-radius: 44px;
      max-height: 675px;
    }
  }
  &__descr {
    @include textType1();
    font-family: "Helvetica";
    font-weight: 400;
    color: $white;
    margin-bottom: 10px;
    &-date {
      border-bottom: 1px solid $color9;
    }
  }
}

.changes-block {
  &__list {
    @include listReset();
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  &__link {
    display: flex;
    justify-content: space-between;
  }
  &__descr,
  &__data {
    @include textType07();
  }
  &__data {
    color: $color2;
  }
}

@media (max-width: 860px) {
  .greeting {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 530px) {
  .banners-block {
    &__timer-container {
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 350px) {
  .greeting {
    &__block {
      padding: 10px;
    }
  }
  .preview-block {
    &__descr {
      @include textType08();
    }
  }
  .nav-block {
    &__h2 {
      @include textType1();
      margin-bottom: 10px;
    }
    &__link {
      @include textType08();
      text-align: start;
      padding: 5px;
    }
  }
  .banners-block {
    &__timer-container {
      gap: 10px;
      row-gap: 0px;
    }
    &__descr {
      @include textType08();
      font-family: "Helvetica";
      font-weight: 400;
      color: $white;
      margin-bottom: 10px;
      &-date {
        border-bottom: 1px solid $color9;
      }
    }
  }
}
