@use "variables" as *;

@mixin flexible() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin listReset() {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  padding-left: 0;
}

@mixin textReset() {
  margin: 0;
  padding: 0;
}

@mixin btnReset() {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

@mixin standartTransition() {
  transition: all ease-out 0.3s;
}

@mixin textType1() {
  font-size: 2em;
  line-height: 46px;
  letter-spacing: 0.5px;
  text-align: center;
}
