@use "../../styles/style.scss" as *;

.card {
  @include flexible();
  flex-direction: column;
  position: relative;
  border-radius: $standartborder;
  box-shadow: 0px 10px 20px 0px $color1;
  max-height: 200px;
  max-width: 200px;
  overflow: hidden;
  background: $white;

  &__image-container {
    display: flex;
    align-items: flex-end;
    width: 100%;
    max-height: inherit;
    height: 100%;
    position: relative;
  }

  &_yellow {
    border-bottom: 5px solid yellow;
  }
  &_purple {
    border-bottom: 5px solid $purple;
  }

  &__resonator {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
