@use "../../styles/style.scss" as *;

.card {
  @include flexible();
  flex-direction: column;
  position: relative;
  border-top: 3px solid $color1;
  border-radius: $standartborder;
  box-shadow: 0px 10px 20px 0px $color1;
  height: 100%;
  overflow: hidden;
  background: $white;

  &__image-container {
    width: 100%;
    position: relative;
  }

  &_yellow {
    border-bottom: 5px solid yellow;
  }
  &_purple {
    border-bottom: 5px solid $purple;
  }

  &__resonator {
    width: 100%;
    height: 100%;
  }
}
