@use "../../styles/style.scss" as *;

@font-face {
  font-family: "Ustrok";
  src: url("../../assets/fonts/Ustroke_Regular.woff") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.card {
  @include flexible();
  flex-direction: column;
  position: relative;
  border: 3px solid $color1;
  border-radius: $standartborder;
  box-shadow: 0px 10px 20px 0px $color1;
  height: 100%;

  &__image-container {
    width: 100%;
    position: relative;
  }

  &__element {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
  }

  &__resonator {
    width: 100%;
  }

  &__h3 {
    position: absolute;
    color: $white;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -5%);
    font-size: 4em;

    font-family: Ustrok;
    letter-spacing: 5px;
    font-weight: lighter;
  }

  &__gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-image: linear-gradient(
      180deg,
      hsla(0, 0%, 35.29%, 0) 0%,
      hsla(0, 0%, 34.53%, 0.034375) 16.36%,
      hsla(0, 0%, 32.42%, 0.125) 33.34%,
      hsla(0, 0%, 29.18%, 0.253125) 50.1%,
      hsla(0, 0%, 24.96%, 0.4) 65.75%,
      hsla(0, 0%, 19.85%, 0.546875) 79.43%,
      hsla(0, 0%, 13.95%, 0.675) 90.28%,
      hsla(0, 0%, 7.32%, 0.765625) 97.43%,
      hsla(0, 0%, 0%, 0.8) 100%
    );
  }

  &__role {
    color: $white;
    width: 100%;
    text-align: center;
    padding: 10px 10px;
    font-size: 2em;
  }
}
