@use "../../styles/style.scss" as *;

.header {
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 110px;
    position: relative;
  }
  &__logo{
    overflow: hidden;
    height: 345px;
  }
  &__game{
    position: absolute;
    max-width: 45%;
    right: -30%;
  }
}

@media (max-width: 917px){
  .header__game{
    display: none;
  }
}
