@use "../../styles/style.scss" as *;

.mechanic {
  @include flexible();
  flex-direction: column;
  color: $white;
  h2 {
    @include textType3();
    margin-bottom: 20px;
    width: 100%;
  }
  h3 {
    @include textType2();
    margin-bottom: 20px;
    width: 100%;
  }
  p {
    @include textType1();
    margin-bottom: 10px;
    text-align: start;
    width: 100%;
  }
  ul {
    font-size: 1em;
    width: 100%;
    padding-left: 40px;
    margin-bottom: 10px;
  }
  img {
    margin-bottom: 10px;
  }
}

@media (max-width: 560px) {
  .mechanic {
    h2 {
      @include textType15();
      margin-bottom: 10px;
    }
    h3 {
      @include textType1();
      margin-bottom: 10px;
    }
    p {
      @include textType08();
      text-align: start;
      margin-bottom: 10px;
    }
    ul {
      font-size: 0.8em;
      padding-left: 20px;
    }
  }
}

@media (max-width: 296px) {
      .mechanic {
    h2 {
      @include textType1();
      margin-bottom: 5px;
    }
    h3 {
      @include textType08();
      margin-bottom: 5px;
    }
    p {
      @include textType05();
      text-align: start;
      margin-bottom: 5px;
    }
    ul {
      font-size: 0.5em;
      padding-left: 5px;
    }
  }
}
