@use "../../styles/style.scss" as *;

.footer {
  @include flexible();
  flex-direction: column;
  margin-top: auto;
  width: 100%;
  background: $color1;
  padding: 10px 0;
  position: relative;
  &__privacy {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 90%;
  }
  &__privacy-link {
    @include textType08();
    @include standartTransition();
    @include standartAnimZoom();
    & {
      text-wrap: nowrap;
      color: $white;
      text-align: center;
      text-decoration: underline;
    }
  }
  &__copyright {
    @include textType08();
    display: block;
    color: $white;
    text-align: center;
  }
}

.navigation {
  @include flexible();
  align-items: flex-start;
  width: 100%;
  height: fit-content;
  gap: 20px;

  &__h2 {
    @include textType08();
    margin-bottom: 5px;
    font-weight: lighter;
  }

  &__container {
    @include flexible();
    flex-direction: column;
  }
  &__list {
    @include listReset();
    @include flexible();
    flex-direction: column;
    align-items: flex-start;
  }
  &__list-imgs {
    flex-direction: row;
    gap: 5px;
  }
  &__link {
    @include flexible();
    @include standartTransition();
    @include standartAnimZoom();
    & {
      gap: 5px;
    }
    svg {
      width: 16px;
      height: 16px;
    }
  }

  &__text {
    @include textType08();
  }
  &__h2-margin {
    margin-bottom: 13px;
  }
  &__item-margin {
    margin-bottom: 9px;
  }
}

.nav-icon {
  width: 20px;
  height: 20px;
}

@media (max-width: 480px) {
  .navigation {
    &__h2 {
      @include textType1();
      margin-bottom: 10px;
    }
    &__link {
      img {
        width: 15px;
      }
      svg {
        width: 15px;
      }
    }
    &__list {
      &:nth-child(2) {
        gap: 0;
      }
    }
    &__text {
      @include textType05();
    }
  }
  .footer {
    &__privacy-link {
      @include textType05();
    }
    &__copyright {
      @include textType05();
      display: block;
      color: $white;
      text-align: center;
    }
  }
}

@media (max-width: 280px) {
  .navigation__h2 {
    @include textType08();
  }
}

@media (max-width: 209px) {
  .navigation__h2 {
    @include textType05();
  }
  .navigation__text {
    @include textType05();
  }
}

@media (max-width: 179px) {
  .navigation__h2 {
    @include textType03();
  }
  .navigation__text {
    @include textType03();
  }
    .footer {
    &__privacy-link {
      @include textType03();
    }
    &__copyright {
      @include textType03();
      display: block;
      color: $white;
      text-align: center;
    }
  }
}
