@use "./styles/style.scss" as *;
/* Global selectors */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    display: none;
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
}
body {
  margin: 0;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  border: 0;
  background: $main;
}

@font-face {
  font-family: "bebas";
  src: url("./assets/fonts/BebasNeueCyrillic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "helvetica-regular";
  src: url("./assets/fonts/Helvetica.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "helvetica-bold";
  src: url("./assets/fonts/Helvetica-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "fascinate";
  src: url("./assets/fonts/Fascinate-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Global class*/
.container {
  max-width: 1280px;
  margin: 0 auto;
}
.main {
  position: relative;
}
.hide {
  opacity: 0 !important;
  visibility: hidden !important;
}
.visible {
  display: flex;
}
.opacity {
  opacity: 1;
}
.opacityHide {
  opacity: 0;
}

.h1 {
  @include textReset();
  text-align: center;
  display: none;
}

section {
  z-index: 1;
  padding: 0 10px;
}

.red {
  color: $red;
}
.green {
  color: $green;
}
.purple {
  color: $purple;
}
.cian {
  color: $cian;
}
.yellow{
  color: $yellow;
}

.App {
  @include flexible();
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}


// z-index
// 100 - navigation list
