@use "../../styles/style.scss" as *;

.countdown {
  @include flexible();
  gap: 1rem;
  margin: 1rem 0 2rem;
  font-size: 1.2rem;
  font-weight: bold;

  &__item {
    @include flexible();
    flex-direction: column;
  }

  &__value {
    font-size: 1.8rem;
    color: #4caf50;
  }
  
  &__label {
    font-size: 0.9rem;
    color: #999;
  }
}
