@use "../../styles/style.scss" as *;

.countdown {
  @include flexible();
  gap: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: $color8;
  font-family: "lcdnormal";
  margin-bottom: 50px;

  &__item {
    @include flexible();
    flex-direction: column;
    font-family: "lcdnormal";
  }

  &__value {
    font-size: 4em;
    color: inherit;
    font-family: "lcdnormal";
    letter-spacing: 6px;
  }

  &__label {
    font-size: 0.9rem;
    color: #999;
  }

  &__span {
    color: inherit;
  }
}

@media (max-width: 484px) {
  .countdown {
    &__value {
      font-size: 3em;
    }
  }
}

@media (max-width: 392px) {
  .countdown {
    &__value {
      font-size: 1.5em;
    }
  }
}

@media (max-width: 277px) {
  .countdown {
    gap: 0.5rem;
    &__value {
      font-size: 1em;
    }
  }
}

@media (max-width: 200px) {
  .countdown {
    gap: 0.3rem;
    &__value {
      font-size: 0.8em;
    }
    &__label {
      font-size: 0.7rem;
    }
  }
}
